{% extends 'base.html' %}
{% load form_extras %}

{% block content %}
<header  class="page-header">
    <h1>Search</h1>
</header>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form method="get" class="form-inline search-form">
            {{ form.q.label_tag }}
            <div class="input-group">
                {{ form.q|append_form_control }}
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
                </span>
            </div>

            {% if query %}
                <h3>Results</h3>

                {% for result in page.object_list %}
                    {% include "submission-list-snippet.html" with submission=result.object %}
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}

                {% if page.has_previous or page.has_next %}
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <nav aria-label="Search result pages">
                                <ul class="pagination">
                                    {% if page.has_previous %}
                                        <li>
                                            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}/" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
                                    {% endif %}
                                    {% for page_num in page.paginator.page_range %}
                                        {% if page.number == page_num %}
                                            <li class="active"><a href="?q={{ query }}&amp;page={{ page_num }}/">{{ page_num }} <span class="sr-only">(current)</span></a></li>
                                        {% else %}
                                            <li><a href="?q={{ query }}&amp;page={{ page_num }}/">{{ page_num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if submissions.has_next %}
                                        <li>
                                            <a href="?q={{ query }}&amp;page={{ page.next_page_number }}/" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
