{% extends "base.html" %}
{% load profile_extras %}

{% block content %}
{% if blocked_by %}
    <div class="alert alert-warning">You are blocked from viewing this profile by the owner</div>
{% else %}
        <div class="row profile-tabs">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="{% url 'view_profile' user_profile.username %}">Profile</a></li>
                    <li role="presentation"><a href="#">Submissions</a></li>
                    <li role="presentation"><a href="#">Favorites</a></li>
                    {% if user.is_authenticated and user != user_profile %}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Social <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if watched %}
                                    <li><a href="{% url 'unwatch_user' user_profile.username%}">Unfollow user</a></li>
                                {% else %}
                                    {% if not blocked %}
                                    <li><a href="{% url 'watch_user' user_profile.username %}">Follow user</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if blocked %}
                                    <li><a href="{% url 'unblock_user' user_profile.username %}">Unblock user</a></li>
                                {% else %}
                                    <li><a href="{% url 'block_user' user_profile.username %}">Block user</a></li>
                                    <li><a href="{% url 'message_user' user_profile.username %}">Message user</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Profile
                </div>
                <div class="panel-body text-block">
                    {{ user_profile.profile.profile_rendered|safe }}
                </div>
                <div class="panel-footer">
                    {{ user_profile.profile.attributes|render_attributes }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Details
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Date joined</dt>
                        <dd>{{ user_profile.date_joined|date }}</dd>

                        <dt>Last login</dt>
                        <dd>{{ user_profile.last_login|date }}</dd>

                        <dt>Submissions</dt>
                        <dd>{{ user_profile.submission_set.count }}</dd>

                        <dt>Comments</dt>
                        <dd>{{ user_profile.comment_set.count }}</dd>

                        <dt>Favorites</dt>
                        <dd>{{ user_profile.profile.favorited_submissions.count }}</dd>

                        <dt>Ratings</dt>
                        <dd>{{ user_profile.rating_set.count }}</dd>

                        <dt>Enjoy votes</dt>
                        <dd>{{ user_profile.enjoyitem_set.count }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
