{% extends "base.html" %}
{% load profile_extras %}

{% block content %}
{% if blocked_by %}
    <div class="alert alert-warning">You are blocked from viewing this profile by the owner</div>
{% else %}
    {% include 'profile-tabs-snippet.html' %}
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Profile
                </div>
                <div class="panel-body">
                    {{ author.profile.profile_rendered|safe }}
                </div>
                {% comment "Attributes TODO" %}
                <div class="panel-footer">
                    {{ author.profile.attributes|render_attributes }}
                </div>
                {% endcomment %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Details
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Date joined</dt>
                        <dd>{{ author.date_joined|date }}</dd>

                        <dt>Last login</dt>
                        <dd>{{ author.last_login|date }}</dd>

                        <dt>Submissions</dt>
                        <dd>{{ author.submission_set.count }}</dd>

                        <dt>Comments</dt>
                        <dd>{{ author.comment_set.count }}</dd>

                        <dt>Favorites</dt>
                        <dd>{{ author.profile.favorited_submissions.count }}</dd>

                        <dt>Ratings</dt>
                        <dd>{{ author.rating_set.count }}</dd>

                        <dt>Enjoy votes</dt>
                        <dd>{{ author.enjoyitem_set.count }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
