{% extends 'base.html' %}
{% load tag_extras %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2 tag-cloud">
        <h2><small>Your favorite tags</small></h2>
        {% get_weighted_tags user.profile.favorite_tags as weighted_tags %}
        {% for tag in weighted_tags %}
            <a href="{% url 'tags:view_tag' tag_slug=tag.slug %}" style="font-size:calc(7px * {{ tag.weight }});">{{ tag }}</a>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            <em>Showing results {{ submissions.start_index }} through {{ submissions.end_index }} of {{ submissions.paginator.count }}</em>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% for submission in submissions %}
            <div class="row striped-item">
                <div class="col-md-12">
                    {% include 'submission-list-snippet.html' with submission=submission author=submission.owner %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% if submissions.has_next or submissions.has_previous %}
    <div class="row">
        <div class="col-md-12 text-center">
            <nav aria-label="Submission pages">
                <ul class="pagination">
                    {% if submissions.has_previous %}
                        <li>
                            <a href="{{ url_prefix }}page/{{ submissions.previous_page_number }}/" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
                    {% endif %}
                    {% for page in submissions.paginator.page_range %}
                        {% if submissions.number == page %}
                            <li class="active"><a href="{{ url_prefix }}page/{{ page }}/">{{ page }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a href="{{ url_prefix }}page/{{ page }}/">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if submissions.has_next %}
                        <li>
                            <a href="{{ url_prefix }}page/{{ submissions.next_page_number }}/" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
{% endblock %}
