{% extends "base.html" %}

{% block content %}
{% if active_flag %}
    <div class="alert alert-danger">
        <h2>Tag flagged <small>{{ active_flag.subject }}</small></h2>
        <p>This tag has been flagged by {{ active_flag.flagged_by.profile.get_display_name }} for a {{ active_flag.get_flag_type_display|lower }} violation.</p>
        {% if user in active_flag.participants.all %}
            <p>You are marked as a participant in this flag; only moderators participants in this flag may view this submission.</p>
        {% else %}
            <p>You have permissions to view this submission because of your moderator status; only moderators participants in this flag may view this submission.</p>
        {% endif %}
        <p>You may view the flag <a href="{{ active_flag.get_absolute_url }}">here</a></p>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="pull-left">
            <em>Showing results {{ submissions.start_index }} through {{ submissions.end_index }} of {{ submissions.paginator.count }}</em>
            {% if not active_flag %}
                <span class="pull-right">
                    <a href="{% url 'administration:create_flag' %}?content_type=taggit:tag&amp;object_id={{ tag.id }}">
                        <span class="glyphicon glyphicon-flag"></span>
                        Flag for administrative review
                    </a>
                </span>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <div class="pull-right">
                {% if tag not in user.profile.favorite_tags.all %}
                    {% if tag not in user.profile.blocked_tags.all %}
                        <form method="post" class="inline" action="{% url 'tags:favorite_tag' tag_slug=tag.slug %}">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit">
                                <span class="glyphicon glyphicon-plus"></span>
                                Favorite tag
                            </button>
                        </form>
                    {% endif %}
                {% else %}
                    <form method="post" class="inline" action="{% url 'tags:unfavorite_tag' tag_slug=tag.slug %}">
                        {% csrf_token %}
                        <button class="btn btn-warning" type="submit">
                            <span class="glyphicon glyphicon-minus"></span>
                            Unfavorite tag
                        </button>
                    </form>
                {% endif %}
                {% if tag not in user.profile.blocked_tags.all %}
                    {% if tag not in user.profile.favorite_tags.all %}
                        <form method="post" class="inline" action="{% url 'tags:block_tag' tag_slug=tag.slug %}">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                Block tag
                            </button>
                        </form>
                    {% endif %}
                {% else %}
                    <form method="post" class="inline" action="{% url 'tags:unblock_tag' tag_slug=tag.slug %}">
                        {% csrf_token %}
                        <button class="btn btn-warning" type="submit">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            Unblock tag
                        </button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
        <p class="clearfix">&nbsp;</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% for submission in submissions %}
            <div class="row striped-item">
                <div class="col-md-12">
                    {% include 'submission-list-snippet.html' with author=submission.owner %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% if submissions.has_next or submissions.has_previous %}
    <div class="row">
        <div class="col-md-12 text-center">
            <nav aria-label="Submission pages">
                <ul class="pagination">
                    {% if submissions.has_previous %}
                        <li>
                            <a href="{% url 'tags:view_tag' tag_slug=tag.slug page=submissions.previous_page_number %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
                    {% endif %}
                    {% for page in submissions.paginator.page_range %}
                        {% if submissions.number == page %}
                            <li class="active"><a href="{% url 'tags:view_tag' tag_slug=tag.slug page=page %}">{{ page }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a href="{% url 'tags:view_tag' tag_slug=tag.slug page=page %}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if submissions.has_next %}
                        <li>
                            <a href="{% url 'tags:view_tag' tag_slug=tag.slug page=submissions.next_page_number %}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
{% endblock %}
