{% extends "base.html" %}

{% block content %}
<div class="row">
    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-warning">Your account doesn't have access to this page. To proceed, please login with an account that has access.</div>
        {% else %}
            <div class="alert alert-info">Please login to see this page.</div>
        {% endif %}
    {% endif %}

    {% if form.errors %}
        <div class="alert alert-danger">The username and password entered did not match</div>
    {% endif %}

    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% include "registration/form-snippet.html" with form=form %}
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
</div>
{% endblock %}
