{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
    <div class="alert alert-warning">
        Whoops!  You're already registered and logged in!  Perhaps you want to <a href="{% url 'logout' %}">log out</a>?
    </div>
{% else %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            {% if form.errors %}
                {% for field in form.fields %}
                    {% if field.errors %}
                        <div class="alert alert-danger">{{ field.label }}: {{ field.errors|striptags }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                {% include "registration/form-snippet.html" with form=form %}
                <input type="submit" value="Register" />
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}
