{% extends "base.html" %}

{% block content %}
{% if validlink %}
    <div class="alert alert-warning">Really reset your password?</div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            <form method="post" action="{% url 'password_reset_confirm' %}">
                {% csrf_token %}
                {% include "registration/form-snippet.html" with form=form %}
                <input type="submit" value="Reset passwor" />
            </form>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger">That password reset link has expired, is invalid, or has been used already.</div> 
{% endif %}
{% endblock %}
