{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        {% if form.errors %}
            <div class="alert alert-danger">Old password incorrect or new passwords did not match</div>
        {% endif %}
        <form method="post" action="{% url 'password_change' %}">
            {% csrf_token %}
            {% include "registration/form-snippet.html" with form=form %}
            <input type="submit" value="Change password" />
        </form>
    </div>
</div>
{% endblock %}
