<!DOCTYPE html>
{% load static %}
{% load git_revno %}
{% git_revno as git_revno %}

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{# TODO #}&#x2394; Honeycomb - {% if flatpage %}{{ flatpage.title }}{% elif title %}{{ title|safe }}{% else %}A home for authors and readers{% endif %}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'app/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/bootstrap/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/jquery-ui/jquery-ui.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/jquery-ui/jquery-ui.structure.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/jquery-ui/jquery-ui.theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/base.css' %}?q={% now 'His' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/hilite.css' %}?q={% now 'His' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/headeranchors.css' %}?q={% now 'His' %}" />

        <script src="{% static 'app/jquery.min.js' %}"></script>
        <script src="{% static 'app/jquery-ui/jquery-ui.min.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'core:front' %}">{# TODO #} &#x2394; HONEYCOMB</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#about">Recent</a></li>
                        <li><a href="#contact">Worth a Read</a></li>
                        <li class="dropdown">
                            <a href="{% url 'core:flatpage_list' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'core:flatpage_list' %}help/">Help</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'core:flatpage_list' %}terms/">Terms of Service</a></li>
                                <li><a href="{% url 'core:flatpage_list' %}aup/">Acceptable Upload Policy</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'core:flatpage_list' %}credits/">Credits</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" method="get" action="{% url 'core:haystack_search' %}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q"{% if 'q' in request.GET %} value="{{ request.GET.q }}"{% endif %} />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% with notifications=user.profile.get_notifications_counts %}
                            {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'usermgmt:view_profile' user.username %}">~{{ user.username }}</a>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="badge">{% if notifications.admin_notifications %}{{ notifications.admin_notifications }}{% endif %}</span> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'social:view_notifications_categories' %}#admin">
                                                <span class="glyphicon glyphicon-bishop"></span> Admin notifications
                                                <span class="badge">{% if notifications.admin_notifications %}{{ notifications.admin_notifications }}{% endif %}</span>
                                            </a>
                                        </li>
                                        <li><a href="{% url 'administration:dashboard' %}">
                                            <span class="glyphicon glyphicon-th"></span>
                                            Dashboard
                                        </a></li>
                                        <li><a href="{% url 'administration:list_participating_applications' %}">
                                            <span class="glyphicon glyphicon-list"></span>
                                            My applications
                                        </a></li>
                                        <li><a href="{% url 'administration:list_participating_flags' %}">
                                            <span class="glyphicon glyphicon-list"></span>
                                            My flags
                                        </a></li>
                                        {% if perms.administration.can_list_bans %}
                                            <li><a href="{% url 'administration:list_participating_bans' %}">
                                                <span class="glyphicon glyphicon-list"></span>
                                                My bans
                                            </a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'login' %}">Log in</a>
                                </li>
                                <li>
                                    <a href="{% url 'usermgmt:register' %}">Register</a>
                                </li>
                            {% endif %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="badge">{% if notifications.user_notifications or notifications.submission_notifications or notifications.messages %}{{ notifications.user_notifications|add:notifications.submission_notifications|add:notifications.messages }}{% endif %}</span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% if user.is_authenticated %}
                                        <li><a href="#"><span class="glyphicon glyphicon-book"></span> Read</a></li>
                                        <li><a href="{% url 'submissions:submit' %}"><span class="glyphicon glyphicon-pencil"></span> Write</a></li>

                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Notifications</li>
                                        <li>
                                            <a href="{% url 'social:view_notifications_categories' %}#users">
                                                <span class="glyphicon glyphicon-user"></span> User notifications
                                                <span class="badge">{% if notifications.user_notifications %}{{ notifications.user_notifications }}{% endif %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'social:view_notifications_categories' %}#submissions">
                                                <span class="glyphicon glyphicon-file"></span> Submission notifications
                                                <span class="badge">{% if notifications.submission_notifications %}{{ notifications.submission_notifications }}{% endif %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'social:view_notifications_categories' %}#messages">
                                                <span class="glyphicon glyphicon-envelope"></span> Messages
                                                <span class="badge">{% if notifications.messages %}{{ notifications.messages }}{% endif %}</span>
                                            </a>
                                        </li>

                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">User management</li>
                                        <li><a href="{% url 'usermgmt:update_profile' %}"><span class="glyphicon glyphicon-edit"></span> Edit profile</a></li>
                                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-eject"></span> Log out</a></li>
                                    {% else %}
                                        <li>
                                            <form method="post" action="{% url 'login' %}" class="dropdown-login">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="dropdown-username">Username:</label>
                                                    <input class="form-control" id="dropdown-password" type="text" name="username" placeholder="Username" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="dropdown-password">Password:</label>
                                                    <input class="form-control" id="dropdown-password" type="password" name="password" placeholder="Password"/>
                                                </div>
                                                <input type="hidden" name="next" value="{{ request.path }}" />
                                                <input type="submit" value="Log in" />
                                            </form>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'usermgmt:register' %}">Register</a></li>
                                    {% endif %}
                                {% endwith %}
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">Skip to content</a>
        <section class="main container-fluid" id="start-of-content">
            <header class="page-header">
                {% if title or flatpage.title %}
                    <h1>{% if flatpage %}{{ flatpage.title }}{% else %}{{ title|safe }}{% endif %}{% if subtitle %} <small>{{ subtitle|safe }}</small>{% endif %}</h1>
                {% else %}
                    <h1>&#x2394; Honeycomb <small>A home for authors and readers</small></h1>
                {% endif %}
                {% if user.is_staff %}
                    <div class="text-center staff-banner{% if user.is_superuser %} superuser-banner{% endif %}">
                        {% if user.is_superuser %}
                            Superuser.
                        {% else %}
                            Staff groups: {{ user.groups.all|join:', '|lower }}.
                        {% endif %}
                    </div>
                {% endif %}
            </header>
            {% if messages %}
                <section class="messages">
                    {% for message in messages %}
                        <div class="alert alert-dismissable alert-{{ message.tags }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                </section>
            {% endif %}
            <section class="content">
                {% block content %}{% endblock %}
            </section>
            <footer class="row">
                <a href="https://github.com/OpenFurry/honeycomb" target="_blank" class="gh-corner">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 250 250" fill="#FFF" style="position: absolute; top: -1; left: 0">
                        <path fill="#333" d="M250 0L135 115h-15l-12 27L0 250V0z"/>
                        <path class="octo-arm" d="M122 109c15-9 9-19 9-19-3-7-2-11-2-11 1-7-3-2-3-2-4 5-2 11-2 11 3 10-5 15-9 16" style="-webkit-transform-origin: 120px 144px; transform-origin: 120px 144px"/>
                        <path class="octo-body" d="M135 115s-4 2-5 0l-14-14c-3-2-6-3-8-3 8-11 15-24-2-41-5-5-10-7-16-7-1-2-3-7-12-11 0 0-5 3-7 16-4 2-8 5-12 9s-7 8-9 12c-14 4-17 9-17 9 4 8 9 11 11 11 0 6 2 11 7 16 16 16 30 10 41 2 0 3 1 7 5 11l12 11c1 2-1 6-1 6z"/>
                    </svg>
                </a>
                <div class="col-md-4 col-md-offset-1 first-footer">
                    <p>
                        Powered by <a href="https://github.com/OpenFurry/honeycomb" target="_blank">&#x2394; Honeycomb</a> {{ git_revno.version }} <span class="text-muted">(<a href="https://github.com/OpenFurry/honeycomb/commit/{{ git_revno.full }}" class="text-muted">{{ git_revno.short }}</a>)</span>
                    </p>
                    <p>
                        An <a href="http://openfurry.org" target="_blank"><img src="http://openfurry.org/of-icon.png"> OpenFurry</a> project.  &copy; OpenFurry, 2016.
                    </p>
                    <p>
                        Source released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        All posted content is &copy; the creators.
                    </p>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li><a href="{% url 'core:flatpage_list' %}help/">Help</a></li>
                        <li><a href="{% url 'core:flatpage_list' %}markdown/">Markdown</a></li>
                        <li><a href="{% url 'core:flatpage_list' %}terms/">Terms of Service</a></li>
                        <li><a href="{% url 'core:flatpage_list' %}aup/">Acceptable Upload Policy</a></li>
                        <li><a href="{% url 'core:flatpage_list' %}credits/">Credits</a></li>
                    </ul>
                </div>
            </footer>
        </section>
        <script src="{% static 'app/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'app/base.js' %}"></script>
    </body>
</html>
