<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{# TODO #}&#x2b21; Honeycomb - {{ title }}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'app/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/bootstrap/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/base.css' %}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'core:front' %}">{# TODO #} &#x2b21; HONEYCOMB</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">Recent</a></li>
                        <li><a href="#contact">Worth a Read</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% if user.is_authenticated %}
                                <a href="{% url 'usermgmt:view_profile' user.username %}">~{{ user.username }}</a>
                            {% endif %}
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                <li><a href="#">Read</a></li>
                                <li><a href="{% url 'submissions:submit' %}">Write</a></li>
                                <li><a href="#">Notifications</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">User management</li>
                                <li><a href="{% url 'usermgmt:update_profile' %}">Profile</a></li>
                                <li><a href="{% url 'logout' %}">Log out</a></li>
                                {% else %}
                                    <li>
                                        <form method="post" action="{% url 'login' %}" class="dropdown-login">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="dropdown-username">Username:</label>
                                                <input class="form-control" id="dropdown-password" type="text" name="username" placeholder="Username" />
                                            </div>
                                            <div class="form-group">
                                                <label for="dropdown-password">Password:</label>
                                                <input class="form-control" id="dropdown-password" type="password" name="password" placeholder="Password"/>
                                            </div>
                                            <input type="hidden" name="next" value="{{ request.path }}" />
                                            <input type="submit" value="Log in" />
                                        </form>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'usermgmt:register' %}">Register</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <section class="main container-fluid">
            {% if title %}
                <header class="page-header">
                    <h1>{{ title|safe }}{% if subtitle %} <small>{{ subtitle }}</small>{% endif %}</h1>
                </header>
            {% endif %}
            {% if messages %}
                <section class="messages">
                    {% for message in messages %}
                        <div class="alert alert-dismissable alert-{{ message.tags }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                </section>
            {% endif %}
            <section class="content">
                {% block content %}{% endblock %}
            </section>
            <footer class="row">
                <div class="col-md-12">
                    <p>{# TODO #}Powered by <a href="https://github.com/OpenFurry/honeycomb" target="_blank">&#x2b21; Honeycomb</a>, an <a href="http://openfurry.org" target="_blank">OpenFurry</a> project.  &copy; OpenFurry, 2016.  Source released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.  All content is &copy; the creators, all rights reserved unless otherwise specified.</p>
                </div>
            </footer>
        </section>
        <script src="{% static 'app/jquery.min.js' %}"></script>
        <script src="{% static 'app/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'app/base.js' %}"></script>
    </body>
</html>
