{% extends "base.html" %}

{% block content %}
<div class="alert alert-info">
    <p>You are about to delete your submission {{ submission.title }}.  Are you sure that you want to do this?</p>
    <form method="post">
        {% csrf_token %}
        <p><button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove"></span> Delete submission</button></p>
        <p><a href="{% url 'submissions:view_submission' username=user.username submission_id=submission.id submission_slug=submission.slug %}">No, take me back</a></p>
    </form>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Submission description</h2>
        {% if submission.description_rendered %}
            {{ submission.description_rendered|safe }}
        {% else %}
            <em>No description provided</em>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Submission text</h2>
        <div class="text-block">
            {{ submission.content_rendered|safe }}
        </div>
    </div>
</div>
{% endblock %}
