{% extends "base.html" %}

{% block content %}
<div class="alert alert-info">
    <p>You are about to delete your folder {{ folder.name }}.  Are you sure that you want to do this?  All submissions in the folder are safe; this folder will simply be removed from their list of folders.</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="I'm sure" />
        <a href="{% url 'submissions:view_folder' username=user.username folder_id=folder.id folder_slug=folder.slug %}">No, take me back</a>
    </form>
</div>
{% endblock %}
