{% load flag_extras %}
{% for comment in comments %}
    {% with flag=comment.get_active_flag %}
        <div id="comment-{{ comment.id }}">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if comment.deleted %}
                        <em class="text-muted">This comment has been deleted by {% if comment.deleted_by_object_owner %}the page owner{% else %}the commenter{% endif %}.</em>
                    {% elif flag %}
                        {# XXX funky indentation below, reader beware #}
                        {# @makyo 2016-11-11 - if anyone finds a better way, by all means... #}
                        {% if user|can_view_flagged_item:flag %}
                            {% include 'comment-body-snippet.html' %}
                            <div class="alert alert-danger">
                                <p><em>
                                    You can view this comment because you are a moderator or participant in this flag.  Other users cannot view this comment.

                                    You can view the flag <a href="{{ flag.get_absolute_url }}">here</a>.
                                </em></p>
                        {% else %}
                            <div class="alert-danger">
                        {% endif %}
                                <p><em>
                                    This comment has been flagged for administrative review.
                                </em></p>
                            </div>
                        {# XXX end funky indentation #}
                    {% else %}
                        {% include 'comment-body-snippet.html' %}
                    {% endif %}
                </div>
            </div>
            {% if comment.children.count > 0 %}
                <div class="small text-right">
                    <a data-toggle="collapse" href="#replies-{{ comment.id }}" aria-expanded="false" aria-controls="replies-{{ comment.id }}"><span class="glyphicon glyphicon-th-list"></span> Hide replies</a>
                </div>
                <div class="comment-reply">
                    <div class="collapse in" id="replies-{{ comment.id }}">
                        {% include 'subcomments-snippet.html' with comments=comment.children.all can_reply=can_reply %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endwith %}
{% endfor %}
