{% load form_extras %}
{% load gravatar %}
{% load humanize %}
{% for comment in comments %}
    <div id="comment-{{ comment.id }}">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if comment.deleted %}
                    <em class="text-muted">This comment has been deleted by {% if comment.deleted_by_object_owner %}the page owner{% else %}the commenter{% endif %}.</em>
                {% else %}
                    <div class="comment-header">
                        <a href="{% url 'usermgmt:view_profile' comment.owner.username %}">{{ comment.owner.email|gravatar }} {{ comment.owner.profile.get_display_name }}</a>
                        &bullet; Posted <abbr data-toggle="tooltip" data-placement="bottom" title="{{ comment.ctime|date:'r' }}">{{ comment.ctime|naturaltime }}</abbr>
                        &bullet; <a href="#comment-{{ comment.id }}"><span class="glyphicon glyphicon-link"></span> Direct link</a>
                        {% if user == comment.owner or user == comment.target_object_owner %}
                            <form class="inline pull-right" method="post" action="{% url 'social:delete_comment' %}">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}" />
                                <button type="submit" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Delete comment
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="comment-body">
                        {{ comment.body_rendered|safe }}
                    </div>
                    {% if can_reply and user.is_authenticated %}
                        <div class="comment-reply-form-wrapper">
                            <a data-toggle="collapse" href="#reply-{{ comment.id }}" aria-expanded="false" aria-controls="collapseExample">Post reply</a>
                            <div id="reply-{{ comment.id }}" class="comment-reply-form collapse">
                                <div class="well">
                                    <form action="{% url 'social:post_comment' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="parent" value="{{ comment.id }}" />
                                        {{ comment_form.content_type }}
                                        {{ comment_form.object_id }}
                                        <div class="form-group">
                                            {{ comment_form.body_raw.label }}
                                            {{ comment_form.body_raw|append_form_control }}
                                        </div>
                                        <button class="btn btn-primary" type="submit">Post reply</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if comment.children.count > 0 %}
            <div class="small text-right">
                <a data-toggle="collapse" href="#replies-{{ comment.id }}" aria-expanded="false" aria-controls="replies-{{ comment.id }}"><span class="glyphicon glyphicon-th-list"></span> Hide replies</a>
            </div>
            <div class="comment-reply">
                <div class="collapse in" id="replies-{{ comment.id }}">
                    {% include 'subcomments-snippet.html' with comments=comment.children.all can_reply=can_reply %}
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}
