{% load gravatar %}
<p>
    <a href="{% url 'submissions:view_submission' username=author.username submission_id=submission.id submission_slug=submission.slug %}"><strong>{{ submission.title }}</strong></a> <em>by
    <a href="{% url 'usermgmt:view_profile' author.username %}">{{ author.email|gravatar }}{{ author.profile.get_display_name }}</a></em></p>

{% if submission.description_rendered %}
    <blockquote class="small">
        {{ submission.description_rendered|safe|truncatewords_html:100 }}
    </blockquote>
{% endif %}

<p>
    Views: {{ submission.views }} -
    Rating: <span data-toggle="tooltip" data-placement="bottom" title="{{ submission.rating_average|floatformat }} average out of {{ submission.rating_count }} ratings">{{ submission.rating_stars|safe }}</span> -
    Favorites: {{ submission.favorited_by.count }} -
    {% if submission.can_enjoy %}Submission enjoyed {{ submission.enjoy_votes }} times{% endif %}
</p>
<p>
    Tags:
    {% for tag in submission.tags.all|slice:":10" %}
        <a href="{% url 'tags:view_tag' tag_slug=tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% else %}{% if submission.tags.count > 10 %}...{% endif %}{% endif %}
    {% endfor %}
</p>
