{% extends "base.html" %}
{% load form_extras %}
{% load humanize %}
{% load gravatar %}

{% block content %}
{% if submission.cover %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <img src="{{ MEDIA_ROOT }}{{ submission.cover.url }}" class="submission-cover" />
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% if submission.description_rendered %}
            <div class="submission-description clearfix">
                <p><strong>Description</strong></p>
                {{ submission.description_rendered|safe }}
            </div>
        {% endif %}
        <div class="panel panel-default submission-details">
            <div class="panel-body">
                {% if submission.icon %}
                    <img src="{{ MEDIA_ROOT }}{{ submission.icon.url }}" class="submission-icon" />
                {% endif %}
                <dl class="dl-indent">
                    {% if submission.content_file %}
                        <dt>Submission file</dt>
                        <dd><a href="{{ MEDIA_ROOT }}{{ submission.content_file.url }}">Download</a></dd>
                    {% endif %}
                    <dt>Submitted</dt>
                    <dd><abbr data-toggle="tooltip" data-placement="bottom" title="{{ submission.ctime|date:'r' }}">{{ submission.ctime|naturaltime }}</abbr></dd>
                    {% if submission.mtime %}
                        <dt>Updated</dt>
                        <dd><abbr data-toggle="tooltip" data-placement="bottom" title="{{ submission.mtime|date:'r' }}">{{ submission.mtime|naturaltime }}</abbr></dd>
                    {% endif %}
                    <dt>Views</dt>
                    <dd>{{ submission.views }}</dd>
                    <dt>Rating</dt>
                    <dd><abbr data-toggle="tooltip" data-placement="bottom" title="{{ submission.rating_average|floatformat }} average out of {{ submission.rating_count }} ratings">{{ submission.rating_stars|safe }}</abbr></dd>
                    <dt>Favorites</dt>
                    <dd>{{ submission.favorited_by.count }}</dd>
                    {% if submission.can_enjoy %}
                        <dt>Enjoy votes</dt>
                        <dd>Submission enjoyed {{ submission.enjoy_votes }} times</dd>
                    {% endif %}
                    <dt>Tags</dt>
                    <dd>
                        {% for tag in submission.tags.all %}
                            <a href="{% url 'tags:view_tag' tag_slug=tag.slug %}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </dd>
                </dl>
                {% if user == submission.owner %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Submission actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'submissions:edit_submission' username=submission.owner.username submission_id=submission.id submission_slug=submission.slug %}"><span class="glyphicon glyphicon-edit"></span> Edit submission</a>
                            </li>
                            <li>
                                <a href="{% url 'submissions:delete_submission' username=submission.owner.username submission_id=submission.id submission_slug=submission.slug %}"><span class="glyphicon glyphicon-remove"></span> Delete submission</a>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-usd"></span> Promote submission</a></li>
                        </ul>
                    </div>
                {% endif %}
                <div class="small text-center permalink">
                    <a href="{% url 'submissions:view_submission' submission_id=submission.id %}"><span class="glyphicon glyphicon-link"></span> Submission permalink</a>
                </div>
            </div>
        </div>
        <div class="text-block{% if not submission.description_rendered %} less-top-margin{% endif %}">
            {{ submission.content_rendered|safe }}
        </div>
    </div>
</div>
{% if user.is_authenticated and user != submission.owner %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Actions
                </div>
                <div class="panel-body text-center">
                    <form action="rate/" method="post" class="inline">
                        {% csrf_token %}
                        <button class="link-button" name="rating" value="1" type="submit">&#x2606;</button>
                        <button class="link-button" name="rating"  value="2" type="submit">&#x2606;</button>
                        <button class="link-button" name="rating"  value="3" type="submit">&#x2606;</button>
                        <button class="link-button" name="rating"  value="4" type="submit">&#x2606;</button>
                        <button class="link-button" name="rating"  value="5" type="submit">&#x2606;</button>
                    </form> -
                    {% if submission in user.profile.favorited_submissions.all %}
                        <a><form action="unfavorite/" method="post" class="inline">
                            {% csrf_token %}
                            <button class="link-button" type="submit">
                                Unfavorite
                            </button>
                        </form></a>
                    {% else %}
                        <a><form action="favorite/" method="post" class="inline">
                            {% csrf_token %}
                            <button class="link-button" type="submit">
                                Favorite
                            </button>
                        </form></a>
                    {% endif %} -
                    {% if submission.can_enjoy %}
                        <a><form action="enjoy/" method="post" class="inline">
                            {% csrf_token %}
                            <button class="link-button" type="submit">
                                I just read and enjoyed this submission!
                            </button>
                        </form></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if not submission.can_comment %}
    <div class="alert alert-info">Comments disabled for this submission</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        {% include 'subcomments-snippet.html' with comments=root_level_comments can_reply=submission.can_comment %}
    </div>
</div>
{% if submission.can_comment and user.is_authenticated %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add comment
            </div>
            <div class="panel-body">
                <form action="{% url 'social:post_comment' %}" method="post">
                    {% csrf_token %}
                    {{ comment_form.content_type }}
                    {{ comment_form.object_id }}
                    <div class="form-group">
                        {{ comment_form.body_raw.label }}
                        {{ comment_form.body_raw|append_form_control }}
                    </div>
                    <button class="btn btn-primary" type="submit">Post comment</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
