@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Cabin');

body {
    font-family: "Cabin",sans-serif;
    /* background: url('lightpaperfibers.png'); */
}

.accessibility-aid {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.accessability-aid:focus {
    width: auto;
    height: auto;
    margin: auto;
    overflow: visible;
    clip: none;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.dropdown-login {
    padding: 0 1em;
}

.main {
    position: relative;
    margin-bottom: -100px;
    padding-bottom: 2em;
}

.content {
    margin: 0 auto;
    padding: 0 5%;
}

.text-block {
    font-size: 13pt;
    font-family: "EB Garamond", serif;
    background-color: #f8f8f8;
    box-shadow: 0 1px 2px rgba(0,0,0,.05)
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;

}

.profile-tabs {
    padding-bottom: 1em;
}

.link-button {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

.inline {
    display: inline;
}

.striped-item:nth-of-type(odd) {
    background-color: #f8f8f8;
}

.notifications {
    margin-left: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dotted #888;
}

.notifications.no-bottom-border {
    border-bottom: none;
}

.search-form .input-group {
    width: 100%;
}
.search-form .form-control {
    width: 80%;
}
.search-form .input-group-btn {
    width: 20%;
}

textarea {
    font-family: monospace;
}

footer {
    border-top: 1px dotted #888;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -100px;
}

footer img {
    height: 14px;
    vertical-align: text-top;
}

@media (min-width: 992px) {
    .submission-description {
        float: left;
        width: 65%;
        padding-bottom: 2em;
    }
    .text-block {
        clear: left;
    }
    .text-block.less-top-margin {
        margin-top: 1em;
    }
    .submission-details {
        float: right;
        width: 33%;
        padding: 0 0 1em 1em;
        margin-right: 1em;
    }
    .tag-cloud a {
        display: inline-block;
        margin: 0 10px;
    }
}
@media (max-width: 992px) {
    .submission-details {
        width: 100%;
    }
    footer div {
        text-align: right;
    }
    footer .first-footer {
        padding-top: 1em !important;
    }
    footer .gh-corner svg {
        z-index: 1000;
    }
}
