@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Cabin');

body {
    font-family: "Cabin",sans-serif;
    /* background: url('lightpaperfibers.png'); */
}

.accessibility-aid {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.accessability-aid:focus {
    width: auto;
    height: auto;
    margin: auto;
    overflow: visible;
    clip: none;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.dropdown-login {
    padding: 0 1em;
}

.main {
    position: relative;
    margin-bottom: -100px;
    padding-bottom: 2em;
}

.content {
    margin: 0 auto;
    padding: 0 5%;
}

.text-block {
    font-size: 13pt;
    font-family: "EB Garamond", serif;
    background-color: #f8f8f8;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
}

.profile-tabs {
    padding-bottom: 1em;
}

.link-button {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

.inline {
    display: inline;
}

.striped-item:nth-of-type(odd) {
    background-color: #f8f8f8;
}

.notifications {
    margin-left: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dotted #888;
}

.notifications.no-bottom-border {
    border-bottom: none;
}

textarea {
    font-family: monospace;
}

footer {
    border-top: 1px dotted #888;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -100px;
}

footer img {
    height: 14px;
    vertical-align: text-top;
}

@media (max-width: 992px) {
    footer div {
        text-align: right;
    }
}
