/* Header Anchors */

.headeranchor-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

.headeranchor-link:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

h1 .headeranchor,
h2 .headeranchor,
h3 .headeranchor,
h4 .headeranchor,
h5 .headeranchor,
h6 .headeranchor {
  display: none;
  color: #000;
  vertical-align: middle;
}

h1:hover .headeranchor-link,
h2:hover .headeranchor-link,
h3:hover .headeranchor-link,
h4:hover .headeranchor-link,
h5:hover .headeranchor-link,
h6:hover .headeranchor-link {
  height: 1em;
  padding-left: 8px;
  line-height: 1;
  text-decoration: none;
}

h1:hover .headeranchor-link {
    margin-left: -50px;
}
h2:hover .headeranchor-link {
    margin-left: -45px;
}
h3:hover .headeranchor-link {
    margin-left: -40px;
}
h4:hover .headeranchor-link {
    margin-left: -35px;
}
h5:hover .headeranchor-link {
    margin-left: -30px;
}
h6:hover .headeranchor-link {
    margin-left: -25px;
}

h1:hover .headeranchor-link .headeranchor,
h2:hover .headeranchor-link .headeranchor,
h3:hover .headeranchor-link .headeranchor,
h4:hover .headeranchor-link .headeranchor,
h5:hover .headeranchor-link .headeranchor,
h6:hover .headeranchor-link .headeranchor {
  display: inline-block;
}

.headeranchor {
  font-family: 'Glyphicons Halflings';
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headeranchor:before {
  content: '\e144';
}
