{% extends "base.html" %}

{% block content %}
{% include 'admin-tabs-snippet.html' %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Pending applications</h2>

    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Pending flags</h2>
    </div>
</div>
{% if perms.administration.can_list_bans %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Active, non-permanent bans</h2>
        </div>
    </div>
{% endif %}
{% endblock %}
